body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #D9E3DA;
  color: black;
  
}
textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}
p{
  color: #bfbfab;
}
#moment{
  color: black;
  font-size: 20px;
}
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: #bfbfab;
  border-radius: 0;
  border-bottom: 10px black;
  font-family: fantasy;
}

.description{
  white-space: pre-wrap;
  color: black;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid black;
}

.hour {
  background-color: #ECC9C7;
  color: black;
  border-top: 1px dashed #F3DDF2;
  font-size: 19px;
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #E53935;
  color: black;
}

.future {
  background-color: lightgreen;
  color: black;
}

.saveBtn {
  border-style: solid;
  border-color: black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #D5D6EA;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.jumbotron:hover {
  font-size:88px;
  transition: all 500ms;
  font-size-adjust: 20px;
}
/* figure that out so it works*/
